.vscode/
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS shenanigans
.DS_Store

# Temp files
*.swp

# our testing stuff
testKasaOutput.txt
testKasaOutput.csv
addresses.txt
